ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}



body {
  font-family: 'Open Sans', helvetica, sans-serif;
  background: #17191C;
  line-height: 1.42;
  color: #fff;
  font-size: 16px;
}

.wrapper--main--page {
  background: url("./img/hero.png") center top no-repeat, url("./img/bottom-pic.png") center bottom 306px no-repeat;
}

.container{
  margin: 0 auto;
  width: 1142px;
}

.header {
  top: 26px;
  height: 129px;
  width: 1142px;
  position: relative;
  margin-bottom: 79px;
}

.logo--header {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}

.general-menu--header {
  left: 439px;
  top: 21px;
  position: absolute;
}

.general-menu__item {
  display: inline-block;
  margin-right: 54px;
}

.general-menu__list:last-child {
  margin-right: 0;
}

.adress--header{
  position: absolute;
  top: 6px;
  right: 0px;
}

.adress__phone {
  font-size: 26px;
}

.adress__workhours {
  color: #FF3D00;
  text-align: right;
  text-decoration: underline;
}

.hello-menu {
  position: relative;
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 230px;
}

.hello-menu__title {
  width: 776px;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  top: 0px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.hello-menu__text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 45px;
}

.button--hello--menu {
  position: absolute;
  font-weight: 700;
  padding: 18px 59px;
  background: #FF3D00;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 14px;
  left: 39%;
}

.services {
  position: relative;
  margin-bottom: 180px;
  color: #666;
}

.services__item{
  display: inline-block;
  width: 362px;
  min-height: 476px;
  background: #fff;
  border-radius: 5px;
  margin-left: 15px;
}

.services__list:last-child{
  margin-left: 0px;
}

.services__item-head{
  width: 362px;
  height: 116px;
}

.services__item-img {
  margin: 36px 29px 30px;
}

.services__item-title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 22px 17px;
}

.services__features {
  display: inline-block;
  font-size: 16px;
  width: 123px;
  margin-left: 22px;
  margin-right: 25px;
}

.services__features-dark{
  color: #000;
}

.services__item-description {
  width: 306px;
  margin-left: 22px;
  margin-bottom: 47px;
}

.services__item-button {
  padding: 18px 55px;
  font-weight: 700;
  border: 2px solid #FF5500;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 14px;
  color: #FF5500;
  margin-left: 24px;
}

.services__item-button--active {
  padding: 18px 55px;
  font-weight: 700;
  background: #FF5500;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.news {
  margin-bottom: 124px;
}

.news-title {
  font-size: 36px;
  font-weight: 800;
}

.news-list__item {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  height: 394px;
  width: 557px;
}

.news__item-features{
  position: absolute;
  bottom: 0px;
}

.news__item-features{
  margin-left: 30px;
}

.news__item-title {
  font-size: 24px;
  font-weight: 700px;
}

.news__item-description {
  width: 442px;
}

.news__item-background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.news-pagination{
  margin-top: 58px;
  text-align: center;
}

.news-pagination__indikator,.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__item {
  display: inline-block;
}

.pagination__number {
  font-weight: bold;
}

.news-pagination__indikator,.pagination__item {
  margin-left: 20px;
}

.about-us {
  position: relative;
  height: 552px;
  width: 1139px;
  margin-bottom: 53px;
}

.about-us__img {
  top: 0px;
  left: 0px;
  position: absolute;
}

.about-us__information {
  position: absolute;
  width: 785px;
  height: 455px;
  background: #fff;
  border-radius: 5px;
  right: 0;
  bottom: 0;
}

.about-us__title{
  position: relative;
  font-size: 36px;
  font-weight: 800;
  color: #000;
  top: 70px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: 81px;
}

.about-us__description {
  position: absolute;
  width: 502px;
  color: #060606;
  margin-left: 81px;
  bottom:0px;
  margin-bottom: 184px;
}

.about-us__button {
  position: absolute;
  font-weight: 700;
  padding: 18px 40px;
  background: #FF3D00;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 81px;
  bottom: 0;
  margin-bottom: 84px;
}

footer {
  height: 93px;
  width: 1142px;
  position: relative;
  margin-bottom: 60px;
}

.footer__line {
  border-top: 1px solid #fff;
  opacity: .1;
}

.logo--footer {
  display: block;
  position: absolute;
  left: 0px;
  top: 40px;
}

.socialmedia__link {
  display: inline-block;
}

.socialmedia__list {
  position: relative;
  top: 50px;
  left: 703px;
}

.socialmedia__item {
  margin-right: 10px;
  display: inline-block;
}

.general-menu--footer {
  left: 310px;
  top: 60px;
  position: absolute;
}

.adress--footer{
  position: absolute;
  top: 40px;
  right: 0px;
  text-align: right;
}

.adress__title{
  font-size: 11px;
  color: #9A9A9A;
}

.adress__phone {
  font-size: 26px;
  text-align: right;
}

