.footer {
  display: flex;
  justify-content: space-between;
}

.footer-main {
  padding-top: 45px;
  padding-bottom: 40px; 
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.socialmedia__list {
  display: inline-flex;
}

.socialmedia__item {
  padding-top: 6px;
  margin-right: 10px;
}

.socialmedia__item:hover {
  filter: brightness(1.75);
  transition: 0.5s;
}

.socialmedia__item:last-child {
  margin: 0;
}

.general-menu--footer {
  padding-bottom: 5px;
  display: inline-flex;
  margin-right: 65px;
  font-size: 14px;
}

.adress--footer{
  display: flex;
  flex-direction: column;
  top: 40px;
  right: 0px;
}

.adress__title{
  text-align: right;
  font-size: 11px;
  color: #9A9A9A;
}

.adress__phone {
  font-size: 26px;
  text-align: right;
}